<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

  <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->


  <header>
    <div class="container">
      <div class="row">
        <div class="logo">
          <a href="/"><img class="logo-img" src="/assets/images/logo-black-text.png" alt="logo"></a>
        </div>
        <nav>
          <ul>
            <li><a class="" href="/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
            <li><a class="" href="/services">SERVICES</a></li>
            <li><a class="" href="/about">ABOUT</a></li>
            <li><a class="" href="/contact">CONTACT</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <div class="container">
    {{ content }}
  </div>

  <footer>

    <div class="container">
      <div class="center-align">
        <em>TIGRTech Group, LLC – Trusted Innovative Growth Results – It’s who we are and what we do.</em>
      </div>

      <div class="row">
        <div class="four columns">
          <b>EXPLORE</b>
          <ul>
            <li>
              <i class="fa fa-cube" aria-hidden="true"></i>
              <span class="spacer"></span>
              <a href="/services">Services</a>
            </li>
            <li>
              <i class="fa fa-info-circle" aria-hidden="true"></i>
              <span class="spacer"></span>
              <a href="/about">About</a>
            </li>
          </ul>
        </div>
        <div class="four columns">
          <a class="footer-link" href="/contact"><b>CONTACT</b></a>
          <ul>
            <li>
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
              <span class="spacer"></span>
              <a href="mailto:sbuchholz@tigrtech.com">sbuchholz@tigrtech.com</a>
            </li>
            <li>
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span class="spacer"></span>
              <a href="tel:+1-603-489-8457">603-489-8457</a>
            </li>
          </ul>
        </div>
        <div class="four columns">
          <a class="footer-link" href="/contact"><b>CONNECT</b></a>
          <ul>
            <li>
              <i class="fa fa-linkedin" aria-hidden="true"></i>
              <span class="spacer"></span>
              <a href="https://www.linkedin.com/in/smbuchholz">linkedin.com/in/smbuchholz</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="row center-align">
        <b>&copy; 2017, TIGRTech Group, LLC</b>
      </div>

      <div class="row grey center-align">
        Site contains icons designed by <a href="http://www.vectorsmarket.com/">Vectors Market</a> from <a href="http://www.flaticon.com">flaticon.com</a><br>
        and fonts from <a href="http://fontawesome.io">FontAwesome</a>.
      </div>

    </div>
  </footer>

  </body>

</html>
